<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- localRepository
     | The path to the local repository maven will use to store artifacts.
     |
     | Default: ${user.home}/.m2/repository
    <localRepository>/path/to/local/repo</localRepository>
    -->
    <pluginGroups>

    </pluginGroups>


    <proxies>

    </proxies>


    <servers>
        <server>
            <id>snapshots</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>releases</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>register.htcc.com:9443</id>
            <username>admin</username>
            <password>Admin123</password>
        </server>
    </servers>


    <mirrors>
        <mirror>
            <id>htcc</id>
            <mirrorOf>*</mirrorOf>
            <name>htcc-repository</name>
            <url>http://nexus.htcc.com:8081/repository/maven-public/</url>
        </mirror>
        <mirror>
            <id>insecure</id>
            <mirrorOf>*</mirrorOf>
            <name>mavenRepository</name>
            <url>http://insecure.repo1.maven.org/maven2/</url>
        </mirror>
    </mirrors>


    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>private maven</name>
                    <url>http://nexus.htcc.com:8081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <name>private maven</name>
                    <url>http://nexus.htcc.com:8081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>

</settings>
